{%extends 'layout.html' %}

{% block title %}
This is Your Search Result!
{% endblock %}

{% block body %}
<h1 style="margin:50px auto ">Showing Relevant Cities: </h1>
<div class="list-group" style="width: 80%;  margin: 80px auto;">
    {% for search_item in search_items %}

    <a href="{{ url_for('display' , zippy = search_item.zipcode}}" class="list-group-item" value = {{search_item.id}}>
        <p>City of {{search_item.city}}.<br> 
        <small>from state {{search_item.state}} with Zipcode {{search_item.zipcode}}.</small></p>
    </a>

    {% endfor %}

{% endblock %}
